<header class="page-header">
    <div class="container">
        <div class="page-header__row">

            <a href="index.html" class="page-header__logo">
                <svg width="14" height="14" aria-hidden="true" class="icon-logo">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
            <div class="page-header__menu">


                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Главная
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Обо мне
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Отрасли
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Новости
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>


            <a href="tel:+79046667000" class="page-header__phone-link">+7 (904) 666-7000</a>

            <a href="#" class="page-header__contact-btn">
                Связаться
            </a>

            <div class="page-header__languages">
                <a href="#" class="page-header__languages-link active">
                    RU
                </a>
                <span class="page-header__languages-divider">

                </span>
                <a href="#" class="page-header__languages-link">
                    EN
                </a>
            </div>

        </div>
    </div>
</header>