<div class="modal js-modal" id="callback-modal">
    <div class="container">
        <div class="modal__inner">
            <button class="modal__close js-close-modal">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
            <h3 class="modal__heading">
                Связаться с нами
            </h3>
            <form action="/" method="POST" class="contact-form" data-need-validation>
                <div class="contact-form__field-group">
                    <label for="name" class="contact-form__label">Имя</label>
                    <input type="text" name="name" id="name" class="contact-form__input" required>
                </div>
                <div class="contact-form__field-group">
                    <label for="phone" class="contact-form__label">Телефон</label>
                    <input type="tel" name="phone" id="phone" class="contact-form__input js-phone-input" required
                        data-parsley-phone>
                </div>
                <div class="contact-form__field-group">
                    <label for="email" class="contact-form__label">E-mail</label>
                    <input type="email" name="email" id="email" class="contact-form__input" required>
                </div>
                <div class="contact-form__field-group">
                    <label for="comment" class="contact-form__label">Текст обращения</label>
                    <textarea name="comment" id="comment" class="contact-form__input"></textarea>
                </div>
                <button class="btn contact-form__submit">
                    Отправить
                </button>
            </form>
        </div>
    </div>

</div>