{{#extend "layout"}}
{{#content "main"}}

<section class="about-intro">
    <div class="container">
        <h1 class="main-heading about-intro__heading">
            Обо мне
        </h1>
        <div class="about-intro__row">
            <div class="default-content about-intro__content">
                <p>
                    Адвокат, кандидат юридических наук Вагизова Эльвира Рустамовна
                </p>
                <h3>
                    Образование:
                </h3>
                <ul>
                    <li>
                        2021 – Paralegal/помощник юриста в США – сертификат, Paralegal Institute of Washington, DC
                    </li>
                    <li>
                        2015, 2016 – студент Liverpool University, University College London, California University -
                        программа по иностранному языку.
                    </li>
                    <li>
                        2011 г. по 2013 г. - аспирант Московского Государственного Университета им. М.В. Ломоносова.
                        Тема диссертационного исследования - «Злоупотребление правом участниками земельных
                        правоотношений», руководитель доктор наук, профессор Московского Государственного Университета
                        им. М.В. Ломоносова  Волков Г.А.

                    </li>
                    <li>
                        2006 – 2011гг. – студент Казанский (Приволжский) федеральный университет, юридический факультет,
                        специальность «юриспруденция». Специализация: гражданско-правовая (с отличием, красный диплом,
                        награждена медалью и благодарственным письмом ректора университета за активное участие и высокие
                        результаты в научной работе).

                    </li>
                    <li>
                        1996 - 2006  гг. - средняя общеобразовательная школа.

                    </li>
                </ul>
                <h3>
                    Опыт работы:

                </h3>
                <ul>
                    <li>
                        2012 г. по 2013 - стажер  Коллегии Адвокатов Республики Татарстан.
                    </li>
                    <li>
                        2016 – Судья третейского суда «Банковской Ассоциации Татарстана».
                    </li>
                    <li>
                        2016 – Эксперт Совета Федерации Федерального Собрания по аграрной и продовольственной
                        безопасности.
                    </li>
                    <li>
                        2013- 2021 – Адвокат, Республики Татарстан, ассоциированный партнер компании «Шаймарданов,
                        Ялилов, Сабитов».
                    </li>
                    <li>
                        2021 – Адвокат, Коллегия адвокатов в г. Москва.
                    </li>
                </ul>
                <h3>
                    Дополнительная информация:
                </h3>
                <ul>
                    <li>
                        2014 – Объявлена благодарность Адвокатской Палаты по ходатайству совета
                        старейшин города Казани за добросовестное отношение к профессиональным
                        обязанностям.
                    </li>
                    <li>
                        2013 г. – награждена благодарностью депутата Государственной думы РФ
                        В.Н. Лихачева за активное участие в оказании юридической помощи
                        гражданам.
                    </li>
                    <li>
                        2012 -2013 гг. – благодарственным письмом Ассоциации Юристов России
                        П.В. Крашенинникова.
                    </li>
                    <li>
                        2013 – Дипломом Управления службы судебных приставов 3 степени по
                        итогам соревнований по настольному теннису и др.клик дипломы
                    </li>
                </ul>
                <h3>
                    Публикации и научные работы.
                </h3>
                <p>
                    20 научных публикаций. Разработана рабочая программа дисциплины:
                    «Судебный процесс по природным ресурсам и экологии в Европе» для
                    магистрантов Казанского университета. Разработаны предложения и внесены
                    в проект Федерального закона № 432575-4 «О внесении изменений в
                    отдельные законодательные акты Российской Федерации в связи с принятием
                    Градостроительного кодекса РФ» и др.
                </p>
                <p>
                    Автор учебного пособия: «Злоупотребление правом участниками земельных
                    правоотношений».
                </p>
            </div>

            <picture>
                <source data-srcset="img/about-intro-mobile.jpg" media="(max-width: 640px)">
                <img data-src="img/about-intro.jpg" alt="" class="about-intro__image lazyload" data-sizes="auto">
            </picture>

        </div>
    </div>
</section>

<section class="awards">
    <div class="container">
        <h2 class="section-heading awards__heading">
            Награды
        </h2>
        <ul class="awards__list">
            <li class="awards__list-item">
                <a href="img/awards/corpus-hq.jpg" class="awards__card" data-fancybox="awards">
                    <div class="awards__card-image-container">
                        <img src="img/awards/corpus.jpg" alt="" class="awards__card-image">
                    </div>
                    <h4 class="awards__card-title">
                        За участие в качестве наблюдателя на выборах
                    </h4>
                </a>
            </li>
            <li class="awards__list-item">
                <a href="img/awards/univer-hq.jpg" class="awards__card" data-fancybox="awards">
                    <div class="awards__card-image-container">
                        <img src="img/awards/univer.jpg" alt="" class="awards__card-image">
                    </div>
                    <h4 class="awards__card-title">
                        Грамота от университета
                    </h4>
                </a>
            </li>
            <li class="awards__list-item">
                <a href="img/awards/shaimardanov-hq.jpg" class="awards__card" data-fancybox="awards">
                    <div class="awards__card-image-container">
                        <img src="img/awards/shaimardanov.jpg" alt="" class="awards__card-image">
                    </div>
                    <h4 class="awards__card-title">
                        Рекомендательное письмо от Шаймарданов и Партнеры
                    </h4>
                </a>
            </li>
            <li class="awards__list-item">
                <a href="img/awards/corpus-hq.jpg" class="awards__card" data-fancybox="awards">
                    <div class="awards__card-image-container">
                        <img src="img/awards/corpus.jpg" alt="" class="awards__card-image">
                    </div>
                    <h4 class="awards__card-title">
                        За участие в качестве наблюдателя на выборах
                    </h4>
                </a>
            </li>
            <li class="awards__list-item">
                <a href="img/awards/univer-hq.jpg" class="awards__card" data-fancybox="awards">
                    <div class="awards__card-image-container">
                        <img src="img/awards/univer.jpg" alt="" class="awards__card-image">
                    </div>
                    <h4 class="awards__card-title">
                        Грамота от университета
                    </h4>
                </a>
            </li>
            <li class="awards__list-item">
                <a href="img/awards/shaimardanov-hq.jpg" class="awards__card" data-fancybox="awards">
                    <div class="awards__card-image-container">
                        <img src="img/awards/shaimardanov.jpg" alt="" class="awards__card-image">
                    </div>
                    <h4 class="awards__card-title">
                        Рекомендательное письмо от Шаймарданов и Партнеры
                    </h4>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="documents">
    <div class="container">
        <h2 class="section-heading documents__heading">
            Документы
        </h2>
        <ul class="documents__list">
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                        <use xlink:href="#doc"></use>
                    </svg>
                    <div class="documents__card-content">
                        Резюме
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                        <use xlink:href="#doc"></use>
                    </svg>
                    <div class="documents__card-content">
                        Резюме (на англ. )
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                        <use xlink:href="#doc"></use>
                    </svg>
                    <div class="documents__card-content">
                        Сертификат университета Ливерпуля о прохождении языковых курсов
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                        <use xlink:href="#doc"></use>
                    </svg>
                    <div class="documents__card-content">
                        Диплом кандидата юридических наук
                    </div>
                </a>
            </li>


        </ul>
    </div>
</section>

{{/content}}
{{/extend}}