{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="intro__bg">

        <video class="lazyload" muted="" data-autoplay="" loop playsinline preload="none"
            data-poster="img/moscow-city.jpg">
            <source src="assets/video/moscow-city.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__text-content">
                <h1 class="intro__heading">
                    Адвокатский офис Вагизовой Эльвиры
                </h1>
                <div class="intro__text">
                    <p>
                        Адвокат, кандидат юридических наук<br> Вагизова Эльвира Рустамовна
                    </p>
                </div>
                <a href="#callback-modal" class="btn intro__btn js-open-modal">
                    Записаться
                </a>
            </div>

            <a href="#to-about-me" class="intro__scroll-down">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490.69 490.69">

                    <path
                        d="M245.21 469.42c-2.83 0-5.55-1.12-7.55-3.12L3 231.63a10.67 10.67 0 0115.09-15.08L245.2 443.67l227.12-227.14a10.67 10.67 0 0115.08 15.08L252.74 466.28c-2 2-4.7 3.13-7.53 3.14z" />
                    <path
                        d="M245.21 277.42c-2.83 0-5.55-1.12-7.55-3.12L3 39.63a10.67 10.67 0 0115.09-15.08L245.2 251.67 472.33 24.53A10.67 10.67 0 11487.4 39.6L252.74 274.28c-2 2-4.7 3.13-7.53 3.14z" />
                </svg>
            </a>

        </div>

    </div>
</section>


<section class="about-me" id="about-me">
    <div class="container">
        <h2 class="section-heading about-me__heading">
            Обо мне
        </h2>
        <div class="about-me__row">
            <div class="about-me__left-col">
                <div class="about-me__image-container">
                    <img src="img/elvira.jpg" alt="" class="about-me__image">
                </div>
            </div>
            <div class="about-me__right-col">
                <div class="default-content about-me__text-content">
                    <p>
                        <big>
                            Кандидат наук, USA PARALEGAL, автор множества публикаций.<br> Осуществляю подготовку
                            кадров для Адвокатской палаты.<br>
                            Эксперт Совета Федерации по&nbsp;аграрной и
                            продовольственной политике в&nbsp;России.<br>
                            Участвовала в&nbsp;разработке проектов федеральных
                            законов и законов регионального уровня.
                        </big>
                    </p>

                    <p>
                        Постоянно повышаю свою квалификацию и&nbsp;прохожу обучение зарубежом для применения иностранных
                        техник ведения споров и&nbsp;переговоров (в&nbsp;таких странах как Великобритания, США,
                        Германия, Франция
                        и&nbsp;странах Шанхайской организации сотрудничества)
                    </p>
                    <p>
                        Имею широкое представление о&nbsp;разных методах разрешения конфликтных ситуаций, так как
                        действую в
                        многопрофильном формате, берусь за&nbsp;сложные споры имущественного характера и&nbsp;дела по
                        экономическим преступлениям.
                    </p>
                    <p>
                        Использую американскую модель ведения дела, которая заключается в
                        проведении собственного расследования обстоятельств дела и&nbsp;работе на&nbsp;результат
                        от&nbsp;выигранных дел
                        по&nbsp;имущественным спорам.
                    </p>


                </div>
                <a href="#" class="btn about-me__learn-more-btn">
                    Узнать подробнее
                </a>
            </div>
        </div>
    </div>
</section>


<section class="we-represent">

    <div class="container">
        <h2 class="section-heading we-represent__heading">
            Кого мы представляем
        </h2>
        <div class="default-content we-represent__content">
            <ul>
                <li>
                    Граждан привлекаемых к уголовной ответственности;
                </li>
                <li>
                    Граждан России желающих переехать в другое государство для постоянного и временного проживания;
                </li>
                <li>
                    Супругов по бракоразводным процессам;
                </li>
                <li>
                    Иностранных граждан по вопросам миграционного законодательства;
                </li>
                <li>
                    Иностранных граждан по семейным спорам;
                </li>
                <li>
                    Потерпевших Пенсионеров, инвалидов от действий приведших к отчуждению недвижимого имущества;
                </li>
                <li>
                    Потерпевших от действий государственных органов, в том числе правоохранительных;
                </li>
                <li>
                    Потерпевших от действий врачей;
                </li>
                <li>
                    Потерпевших Женщин по делам о семейном насилии и похищении детей;
                </li>
                <li>
                    Должностных лиц привлекаемых к административной и уголовной ответственности;
                </li>
                <li>
                    Юридических лиц привлекаемых к налоговым и другим административным правонарушениям, в отношении
                    которых проводится налоговая или прокурорская проверка;
                </li>
                <li>
                    Юридических лиц, для оценки рисков по совершаемым или совершенным сделкам, включая риски признания
                    сделки недействительной, привлечение к административной и уголовной ответственности;
                </li>
                <li>
                    Кредиторов по договорным обязательствам;
                </li>
                <li>
                    Инвесторов по делам вытекающим из инвестиционных договоров;
                </li>
                <li>
                    Иностранные юридические лица по корпоративным вопросам, возникающим
                </li>
                <li>
                    Иностранные государства и их должностных лиц по вопросам применения Российского законодательства;
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="numbers">
    <div class="container">
        <h2 class="section-heading numbers__heading">
            Наша работа в цифрах
        </h2>
        <ul class="numbers__list">
            <li class="numbers__list-item">
                <div class="numbers__card">

                    <div class="numbers__card-amount">
                        <span class="numbers__card-amount-text">
                            более
                        </span>

                        <span class="numbers__card-amount-number">
                            2000
                        </span>

                    </div>
                    <div class="numbers__card-text">
                        выигранных гражданских дел
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        <span class="numbers__card-amount-number">
                            140 000 000 ₽
                        </span>
                    </div>
                    <div class="numbers__card-text">
                        средств, взысканных с проигравшей стороны
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">


                        <span class="numbers__card-amount-number">
                            1450
                        </span>
                    </div>
                    <div class="numbers__card-text">
                        проведенных дел по налоговым спорам
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="geography">
    <div class="container">
        <h2 class="section-heading geography__heading">
            География работы
        </h2>
        <div class="geography__row">
            <img src="img/russian-map.svg" alt="" class="geography__map">
            <div class="default-content geography__content">
                <p>
                    Работу осуществляем в следственных органах, полиции, судах, прокуратуре, налоговых органах и
                    посольствах <strong>по всей территории России</strong>;
                </p>
                <p>
                    Подаем документы в органы государственной власти <strong>иностранных государств</strong> по вопросам
                    миграции,
                    семейным  и имущественным спорам.

                </p>
                <p>
                    Осуществляем поиск квалифициированных юристов и адвокатов для
                    защиты российских граждан на территории иностранного государства. Ведем координацию правовой
                    деятельности российских граждан зарубежом;
                </p>
                <p>
                    <strong>Выезжаем по юридическому адресу и месту проживания гражданина</strong> для осуществления
                    адвокатской
                    деятельности;
                </p>
                <p>
                    Центр принятия решения и подготовки аналитических документов и их хранения <strong>город Москва,
                        Россия</strong>.
                </p>
            </div>
        </div>
    </div>
</section>




<section class="news js-news-slider">
    <div class="container">
        <div class="news__content">


            <div class="news__top-row">
                <h2 class="section-heading news__heading">
                    Новости
                </h2>

                <div class="news__slider-arrows">
                    <button class="news__slider-arrow news__slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="news__slider-arrow news__slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>


            </div>

            <div class="news__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__bg">
                                    <img src="img/news/1.jpg" alt="" class="news-card__bg-image">
                                </div>
                                <div class="news-card__tags">
                                    <div class="news-card__tag">
                                        Свежее
                                    </div>
                                </div>
                                <div class="news-card__date">
                                    15.05.2021
                                </div>
                                <h4 class="news-card__title">
                                    Адвокат Вагизова Эльвира провела бесплатный прием граждан
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__bg">
                                    <img src="img/news/2.jpg" alt="" class="news-card__bg-image">
                                </div>

                                <div class="news-card__date">
                                    15.05.2021
                                </div>
                                <h4 class="news-card__title">
                                    Адвокат Вагизова Эльвира выступила на телевидении
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__bg">
                                    <img src="img/news/1.jpg" alt="" class="news-card__bg-image">
                                </div>
                                <div class="news-card__tags">
                                    <div class="news-card__tag">
                                        Свежее
                                    </div>
                                </div>
                                <div class="news-card__date">
                                    15.05.2021
                                </div>
                                <h4 class="news-card__title">
                                    Адвокат Вагизова Эльвира провела бесплатный прием граждан
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__bg">
                                    <img src="img/news/2.jpg" alt="" class="news-card__bg-image">
                                </div>

                                <div class="news-card__date">
                                    15.05.2021
                                </div>
                                <h4 class="news-card__title">
                                    Адвокат Вагизова Эльвира выступила на телевидении
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__bg">
                                    <img src="img/news/1.jpg" alt="" class="news-card__bg-image">
                                </div>
                                <div class="news-card__tags">
                                    <div class="news-card__tag">
                                        Свежее
                                    </div>
                                </div>
                                <div class="news-card__date">
                                    15.05.2021
                                </div>
                                <h4 class="news-card__title">
                                    Адвокат Вагизова Эльвира провела бесплатный прием граждан
                                </h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__bg">
                                    <img src="img/news/2.jpg" alt="" class="news-card__bg-image">
                                </div>

                                <div class="news-card__date">
                                    15.05.2021
                                </div>
                                <h4 class="news-card__title">
                                    Адвокат Вагизова Эльвира выступила на телевидении
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<section class="reviews">
    <div class="container">
        <h2 class="section-heading reviews__heading">
            Отзывы клиентов
        </h2>
        <ul class="reviews__list">

            <li class="reviews__list-item">
                <a href="#" class="reviews__card">
                    <div class="reviews__card-logo-container reviews__card-logo-container--contain">
                        <img src="img/petrov.jpg" alt="" class="reviews__card-logo">
                    </div>
                    <div class="reviews__card-content">
                        <h3 class="reviews__card-client-author">
                            Петров В.В.
                        </h3>
                        <div class="reviews__card-author-role">
                            Генеральный директор ООО &laquo;Автодорстрой&raquo;
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Наши интересы были защищены. Спасибо за качественную работу
                            </p>
                        </div>


                    </div>
                </a>
            </li>
            <li class="reviews__list-item">
                <a href="#" class="reviews__card">
                    <div class="reviews__card-logo-container reviews__card-logo-container--contain">
                        <img src="img/anna.jpg" alt="" class="reviews__card-logo">
                    </div>
                    <div class="reviews__card-content">
                        <h3 class="reviews__card-client-author">
                            Хотелкина А.Ю.
                        </h3>

                        <div class="reviews__card-text">
                            <p>
                                Спасибо адвокату за ведение дела в суде. Взыскала с ответчика всё, что хотела
                            </p>
                        </div>


                    </div>
                </a>
            </li>
            <li class="reviews__list-item">
                <a href="#" class="reviews__card">
                    <div class="reviews__card-logo-container reviews__card-logo-container--contain">
                        <img src="img/petrov.jpg" alt="" class="reviews__card-logo">
                    </div>
                    <div class="reviews__card-content">
                        <h3 class="reviews__card-client-author">
                            Петров В.В.
                        </h3>
                        <div class="reviews__card-author-role">
                            Генеральный директор ООО &laquo;Автодорстрой&raquo;
                        </div>
                        <div class="reviews__card-text">
                            <p>
                                Наши интересы были защищены. Спасибо за качественную работу
                            </p>
                        </div>


                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="faq">
    <div class="container">
        <h2 class="section-heading faq__heading">
            Вопросы и ответы
        </h2>
        <div class="faq__row">
            <ul class="faq__list">
                <li class="faq__list-item">
                    <div class="faq__accordion js-accordion">
                        <div class="faq__accordion-btn js-accordion-btn">
                            <div class="faq__accordion-btn-text">
                                Какова стоимость услуг?
                            </div>
                            <div class="faq__accordion-btn-arrow">
                                <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__accordion-content js-accordion-content">
                            <div class="faq__accordion-content-inner">
                                Плата включает стоимость фактически понесенных расходов по делу плюс гонора успеха
                                (процент
                                от выигранной суммы).
                            </div>

                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="faq__accordion js-accordion">
                        <div class="faq__accordion-btn js-accordion-btn">
                            <div class="faq__accordion-btn-text">
                                Я иностранец, могу ли я к вам обратиться?
                            </div>
                            <div class="faq__accordion-btn-arrow">
                                <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__accordion-content js-accordion-content">
                            <div class="faq__accordion-content-inner">
                                Да, мы принимаем иностранных граждан
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
            <ul class="faq__list">

                <li class="faq__list-item">
                    <div class="faq__accordion js-accordion">
                        <div class="faq__accordion-btn js-accordion-btn">
                            <div class="faq__accordion-btn-text">
                                Что делать, если я живу в другом городе?
                            </div>
                            <div class="faq__accordion-btn-arrow">
                                <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                    <use xlink:href="#plus"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="faq__accordion-content js-accordion-content">
                            <div class="faq__accordion-content-inner">
                                За дополнительную плату мы приедем к вам
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>

<section class="documents">
    <div class="container">
        <h2 class="section-heading documents__heading">
            Документы
        </h2>
        <ul class="documents__list">
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                        <use xlink:href="#doc"></use>
                    </svg>
                    <div class="documents__card-content">
                        Соглашение на представительство интересов по уголовному делу;
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                        <use xlink:href="#doc"></use>
                    </svg>
                    <div class="documents__card-content">
                        Соглашение по представительств интересов по экономическому делу;
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="documents__card">
                    <svg width="14" height="14" aria-hidden="true" class="icon-doc">
                        <use xlink:href="#doc"></use>
                    </svg>
                    <div class="documents__card-content">
                        Прайс-лист
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>


{{/content}}
{{/extend}}