


.geography__row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 5rem;

    @include breakpoint(mobile) {
        grid-gap: 2rem;
        grid-template-columns: minmax(0, 1fr)
    }
}

.geography__map {
    display: block;
    height: auto;
    opacity: .9;
}

.geography__content {
    grid-column: span 2;
    column-count: 2;
    column-gap: 5rem;

    @include breakpoint(small-tablet) {
        column-count: 1;
    }

    @include breakpoint(mobile) {
        grid-column: span 1;
    }

    p {
        break-inside: avoid;
    }
}