

.news__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.news__heading {
    margin-right: 3rem;
    margin-bottom: 0;
}

.news__slider {
    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        width: 25%;
        @include breakpoint(small-tablet) {
            width: 33.33%;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }
       
    }
}

.news__slider-arrows {
    display: flex;
    align-items: center;
}

.news__content {
    display: flex;
    flex-direction: column;
}

.news__show-more {
    margin-left: auto;
    margin-top: 3rem;
}


.news__slider-arrow {
    margin-right: 1rem;
    flex-shrink: 0;
    width: 4.5rem;
    height: 4.5rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid rgba(black, .1);
    transition: border-color .2s, background-color .2s;

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
    }
    svg {
        width: 1.4rem;
        height: 1.4rem;
        fill: var(--text-color);
        transition: fill .2s;

       
    }
    &:last-child {
        margin-right: 0;
    }

    &.swiper-button-disabled {
        cursor: default;

        svg {
            fill: rgba(black, .1);
        }
    }
 
    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        background-color: var(--primary-color);
        border-color: var(--primary-color);

        svg {
            fill: white;
        }
    }
}


