

.numbers__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 5rem;

    @include breakpoint(mobile) {
        grid-gap: 2rem;
        grid-template-columns: minmax(0, 1fr);
    }
}

.numbers__card {
    color: var(--primary-color);
}

.numbers__card-amount {
    font-size: 1.8rem;
    line-height: 1.3;

    padding-bottom: 0.8rem;
    border-bottom: 0.1rem solid var(--primary-color);
    margin-bottom: 1.5rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        margin-bottom: .8rem;
        padding-bottom: 0;
    }
}

.numbers__card-amount-text {
    margin-right: 0.8rem;

    @include breakpoint(mobile) {
        margin-right: 0.4rem;
    }
}

.numbers__card-amount-number {
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-size: 3.6rem;
    }

   
}

.numbers__card-text {
    font-size: 1.6rem;
    line-height: 1.3;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}
