.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 150;
    color: white;
    transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;

    &.dark {
        color: var(--primary-color);
    }

    &.fixed {
        color: var(--primary-color);
        background-color: white;
        box-shadow: 0 0 1rem rgba(black, 0.1);
    }
}

.page-header__row {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    transition: padding 0.2s;

    @include breakpoint(mobile) {
        padding: 1rem 0;
    }

    @include breakpointMF(small-tablet) {
        padding: 1.5rem 0;
    }

    .page-header.fixed & {
        padding: 1rem 0;
    }
}

.page-header__logo {
    flex-shrink: 0;
    width: 16rem;

    @include breakpoint(mobile) {
        width: 8rem;
        margin-right: auto;
        position: relative;
        z-index: 400;
    }

    svg {
        width: 8rem;
        height: 8rem;
        fill: white;
        transition: fill 0.2s, width 0.2s, height 0.2s;

        .page-header.dark & {
            fill: var(--primary-color);
        }

        .page-header.fixed & {
            fill: var(--primary-color);
            @include breakpointMF(small-tablet) {
                width: 6rem;
                height: 6rem;
            }
        }

        @include breakpoint(mobile) {
            width: 5rem;
            height: 5rem;

            .mobile-menu-open & {
                fill: var(--primary-color);
            }
        }
    }
}

.page-header__menu {
    margin-right: auto;

    @include breakpoint(mobile) {
        margin: 0;
        position: fixed;
        z-index: 300;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;

        background-color: #fff;
        color: var(--primary-color);
        padding: 3rem var(--content-padding);
        padding-top: 9rem;

        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;

        .mobile-menu-open & {
            opacity: 1;
            visibility: inherit;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

.page-header__nav {

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.page-header__nav-list {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
    }
}

.page-header__nav-list-item {
    margin-right: 2.5rem;
    flex-shrink: 0;

    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-header__nav-link {
    font-size: 1.6rem;
    line-height: 1.3;
    white-space: normal;
    color: white;
    position: relative;

    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: rgba(white, 0.85);
    }

    .page-header.dark & {
        color: var(--primary-color);
        &:link,
        &:visited {
            color: var(--primary-color);
        }
        .no-touch &:hover,
        .touch &:active {
            color: rgba(#161f6e, 0.7);
        }
    }

    .page-header.fixed & {
        color: var(--primary-color);

        &:link,
        &:visited {
            color: var(--primary-color);
        }

        .no-touch &:hover,
        .touch &:active {
            color: rgba(#161f6e, 0.7);
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.8rem;

        .mobile-menu-open & {
            color: var(--primary-color);
            &:link,
            &:visited {
                color: var(--primary-color);
            }
        }
    }
}

.page-header__contact-btn {
    padding: 1rem 2.4rem;
    border-radius: 4rem;

    color: white;
    display: inline-block;
    text-align: center;
    margin-right: 3rem;
    border: 1px solid white;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    @include breakpoint(mobile) {
        display: none;
    }

    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: var(--red);
        border-color: var(--red);
        color: white;
    }

    .page-header.dark &,
    .page-header.fixed & {
        color: var(--primary-color);
        border-color: var(--primary-color);
        &:link,
        &:visited {
            color: var(--primary-color);
        }

        .no-touch &:hover,
        .touch &:active {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: white;
        }
    }
}

.page-header__languages {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        position: relative;
        z-index: 400;
    }
}

.page-header__languages-divider {
    width: 1px;
    height: 2rem;
    margin: 0 1rem;
    flex-shrink: 0;
    background-color: #fff;
    transition: background-color 0.2s;
    .page-header.dark &,
    .page-header.fixed & {
        background-color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        height: 1.5rem;

        .mobile-menu-open & {
            background-color: var(--primary-color);
        }
    }
}

.page-header__languages-link {
    font-size: 1.6rem;
    line-height: 1.3;
    color: rgba(white, 0.5);

    
    &:link,
    &:visited {
        color: rgba(white, 0.5);
    }

    &.active {
        color: white;
    }

    .page-header.dark &,
    .page-header.fixed & {
        color: rgba(22, 31, 110, 0.5);

        &:link,
        &:visited {
            color: rgba(22, 31, 110, 0.5);
        }

        &.active {
            color: rgba(22, 31, 110, 1);
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;

        .mobile-menu-open & {
            color: var(--primary-color);
            &:link,
            &:visited {
                color: var(--primary-color);
            }
        }
    }
}

.page-header__phone-link {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-right: 3rem;
    font-weight: 500;
    color: white;

    @include breakpoint(mobile) {
        display: none;
    }

    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: rgba(white, 0.85);
    }
    .page-header.dark &,
    .page-header.fixed & {
        color: var(--primary-color);
        &:link,
        &:visited {
            color: var(--primary-color);
        }

        .no-touch &:hover,
        .touch &:active {
            color: rgba(#161f6e, 0.7);
        }
    }

    
}

.page-header__burger {
    display: none;

    @include breakpoint(mobile) {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 2rem;
        position: relative;
        z-index: 400;
        span {
            width: 100%;
            display: block;
            height: 0.2rem;
            margin-bottom: 0.5rem;
            background-color: #fff;
            transition: background-color 0.2s, transform 0.2s, opacity .2s;
            .page-header.fixed & {
                background-color: var(--primary-color);
            }

            .mobile-menu-open & {
                background-color: var(--primary-color);

                &:nth-child(1) {
                    transform: translateY(.7rem) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: translateY(-.7rem) rotate(-45deg);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.page-header__menu-phone {
    display: none;
    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.3;
        display: block;
        font-weight: 500;
        margin-bottom: 3rem;
        
    }
}

.page-header__menu-contact-btn {
    display: none;
    @include breakpoint(mobile) {
        display: inline-flex;

    }
}